__pycache__/
checkpoints/
pretrained_weights/
data/eva_clip_features/
data/ASR/
data/ASR_feats_all-MiniLM-L6-v2/
custom_video_pipeline/
hirest/
fe_env/
be_env/
app/frontendJS/my-app/node_modules/
custom_pipeline/eva_clip_features
custom_pipeline/videos
custom_data_hirest/